<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<title>Insert title here</title>
</head>
<body>
      <div class="container">
            <div class="card mt-2">
                    <div class="card-header  bg-warning text-center">
                             <h2>Welcome To Purchase Details</h2>   
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                 <th>OrderCode</th>
                                 <th th:text="${po.OrderCode}" class="bg-info text-white text-center"></th>
                                 <th>Order Status</th>
                                 <th th:text="${po.status}" class="bg-primary text-dark text-center"></th>
                            </tr>  
                     </table>
                            <form action="#">
                               <div class="container">
                               <div class="row">
                                       <div class="col-2">
                                              <label>CHOOSE PARTS:</label>
                                       </div>
                                       <div class="col-5">
                                                 <select class="form-control">
                                                        <option value="">--SELECT--</option>
                                                         <option th:each="ob:${parts}" th:value="${ob.key}" th:text="${ob.value}" >
                                                 </select>
                                       </div>
                                       <div class="col-2">
                                           Quantity:
                                       </div>
                                       <div class="col-1">
                                       
                                            <input type="number" min="1" max="1000" class="form-control">
                
                                      </div> 
                                      <div class="col-2">
                                           <input type="submit" value="Add Parts" class="btn btn-info">
                                      </div>
                                </div>    
                               </div>
                            </form>
                      
                    </div> 
                  
            </div>
       </div>
</body>
</html>